html {
  overflow-y: overlay;
}

body {
  max-width: 100%;
  width: 860px;
  margin: 0px auto;
}

img{
  height:180px;
  width:180px;
  margin:16px;
}

nav {
  border-bottom: 1px solid #808080;
}

footer {
  border-top: 1px solid #808080;
  font-size: .8em;
}

a {
  text-decoration: none;
  color: #808080;
}

nav li, footer li {
  display:inline;
  padding-left:10px;
}

.about {
  display:flex;
}

.about h1, .about p{
  margin:10px 0px;
}
.intro {
  padding-left:20px;
}

.right {
  float:right;
}
