html, body {
  max-width: 100%;
	margin:10px 40px;
}

img{
	height:180px;
	width:180px;
}

nav li {
	display:inline;
	padding-left:20px;
}

.about {
	display:flex;
}
.intro {
	padding-left:20px;
}

.main {
	width:860px;
}

.right {
	float:right;
}