<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <!-- link to main stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">About Me</a></li>
      <li><a href="/cv">Resume</a></li>
      <!--<li><a href="/posts">Projects</a></li> -->
    </ul>
  </nav>
  
  <div class="container">
  
  {{ content }}
  
  </div><!-- /.container -->
  
  <footer>
    <ul>
      <li><a href="mailto:jmyhoang@ucdavis.edu">email</a></li>
    </ul>
  </footer>
  
</body>
</html>
